<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Contactus</title>
  <link rel="stylesheet" href="/css/contact.css">
</head>
<body>
    <h2>Book a call</h2>
    <form action="/admin/contactus" method="POST">
        <label for="name" >Name:</label>
        <input type="text" id="name" name="username" size="40px" ><br>
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" size="40px"><br>
        <a href="/admin/contactus/success"><input type="submit" name="submit" value="get a call"/></a>
    </form>
</body>
</html>

